header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-picture {
    flex: 1;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 150px;
}

.header-info {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

header h1 {
    margin-bottom: 5px;
    font-size: 24px;
}

header p {
    margin-bottom: 5px;
}
section {
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #4CAF50;
}
.experience {
    margin-bottom: 30px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.job p {
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
